:root{
    --white99: rgb(243, 243, 243);
    --white90: rgb(247,247,247);
    --white70: rgb(231, 231, 231);
    --black99: rgb(40,48,57);
    --black90: rgb(48,56,65);
    --black70: rgb(59, 66, 75);

    --green100: rgb(90,183,130);
    --yellow: rgb(255,248,8);
    --textcolor: rgb(61,68,101);
    /* Some more colors */
    --primary: #5ab782;
    --secondary: #B655E4;
    --success: #37D159;
    --info: #2B98D6;
    --warning: #FF9F0F;
    --danger: #FF6746;
}


a:link{
  color: var(--txtColor);
  text-decoration: none;
}
a:visited{
  color: var(--txtColor);
  text-decoration: none;
}
a:active{
  color: var(--txtColor);
  text-decoration: none;
}
a:hover{
  color: var(--txtColorHover);
  text-decoration: none;
}

body{
    padding: 0;
    margin: 0;
    box-sizing: boreder-box;
    background-color: var(--black70);
  }
  
  .container {  
    display: grid;
    min-height: 100vh;
    grid-template-columns: 240px 10px 1fr 240px;
    grid-template-rows: 100px 10px 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "aside navbar navbar navbar"
      "aside body body ad"
      "aside body body ad";
  }
  
  .aside { 
  grid-area: aside; 
  z-index: 2;
  background-color: var(--black99);
  box-shadow:  24px 0px 80px 0 rgba(0, 0, 0, 0.2), 26px 0px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
    .logo{
      width: 80%;
      height: auto;
      margin: 25px;
    }

    .asideA{/*Aside Links*/
      display: flex;
      flex-direction: column;
    }
      .hToSec{/*Links Sections*/
        width: 100%;
        display: flex;
        gap: 5px;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        height: 70px;
      }
        .sIcon{/* Icon inside the div section categories */
          width: 40px;
          height: auto;
          margin-left: 15px;
        }
        .iconDesc{
          font-family: "Roboto", sans-serif;
          font-size: 1.2em;
          text-align: center;
          color: var(--white70);
          font-weight: 700;
          line-height: 1.2;
        }

  
  .navbar { 
    grid-area: navbar; 
    background-color: var(--black90);
  }
  
  .body { 
    grid-area: body; 
    background-color: var(--black70);
    z-index: 3;
  }
  
  .bodydiv{
    grid-area: body; 
    display: flex;
    flex-direction: row;
    gap: 50px;
    flex-wrap: wrap;
    margin-left: 10px;
    margin-top: 10px;
    display: none;
    
  }
  .ad{
    grid-area: ad;
    margin-top: 10px;
    background-color: rgb(119, 255, 8);
  }
  .card{
    width: 400px;
    height: 600px;
    background-color: #09008a;
    flex-shrink: 0;
  }
  