:root{
    --white99: rgb(243, 243, 243);
    --white90: rgb(247,247,247);
    --white70: rgb(231, 231, 231);
    --green100: rgb(90,183,130);
    --black100: rgb(61,68,101);
    --yellow: rgb(255,248,8);
    --textcolor: rgb(61,68,101);
    /* Some more colors */
    --blue: #5e72e4;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #EE3232;
    --orange: #ff9900;
    --yellow: #FFFA6F;
    --green: #297F00;
    --teal: #20c997;
    --cyan: #3065D0;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #5ab782;
    --secondary: #B655E4;
    --success: #37D159;
    --info: #2B98D6;
    --warning: #FF9F0F;
    --danger: #FF6746;
    --light: #F4F5F9;
    --dark: #6e6e6e;
}



.item1 { grid-area: header; }
.item2 { grid-area: aside; }
.item3 { grid-area: frame; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

body{
    /* background-color: var(--white70); */
    background-color: #5ab782;
    margin: 0;
    display: grid;
    grid-template-areas:
    'aside header header header header header'
    'aside frame frame frame frame frame'
    'aside frame frame frame frame frame';
    grid-template-columns: auto auto auto;
    grid-template-rows: 100px auto auto;
    /* overflow: hidden; */
}

.aside1{
    position: fixed;
    background-color: var(--white99);
    width: 240px;
    height: 1000px;
    box-shadow: 20px 0px 25px rgba(202, 202, 202, 0.1), 25px 0px 30px rgba(226, 226, 226, 0.05);
    z-index: 2;
}

.nav{
    background-color: var(--white90);
    /* width: 100%; */
    position: fixed;
}  

.mF{ /* Main frame */
    background-color: var(--white70);
}
.testdivparent{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}
.testdiv{
    background-color: #297F00;
    width: 500px;
    height: 300px;
}
