:root{
    --txtColor: rgb(235, 235, 235);
    --txtColorHover:rgb(247, 247, 247);
    --graycolor: rgb(48,56,65); 
    --greencolor: rgb(90,183,130);
    --grayWhite: rgb(131,136,136);
}
.noclass{
    background-color:green;
}
body{
    margin: 0;
    padding: 0;
    background-color: var(--graycolor);
    background-image: url(Photos/linesGraphic.png);
    background-image: url(Photos/linesGraphic.png);
    background-repeat: no-repeat;
    background-position-x: 760px;
}
a:link{
    color: var(--txtColor);
}
a:visited{
    color: var(--txtColor);
}
a:active{
    color: var(--txtColor)
}
a:hover{
    color: var(--txtColorHover);
}


.nav{
    background-color: var(--graycolor); 
    position: fixed;
    z-index: 1;
    top: 0px;
    width: 100%;
}
    .navUl{ /* Navigation part ul. */
        background-color: var(--graycolor); 
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: block;
        overflow: hidden;
    }
        .navLiL{/* Navigation li categories Left*/
            float: left;
        }
        .navLiR{/* Navigation li categories Right */
            float: right;
        }
        .navA{ /*Navigation Navigation link*/
            display: block;
            text-decoration: none;
            padding: 15px 30px;
            background-color: var(--graycolor);
        }
        .navS1{
            margin-left: 100px;
            overflow: hidden;
            width: 195px;
            height: 60px;
            margin-top: 30px;
            
        }
        .navS2{
            padding: 30px 40px;
        }
            .navA:hover{
                background-color:var(--graycolor);
                text-align: center;
            }



/*Section Page 1 */


.sec{
    margin-top: 150px;
    margin-left: calc(50% - 650px); 
    margin-bottom: 150px;
    
    
  }

.desc{
    /*border: solid 1px;*/
    width: 700px;
    height: 500px;
    float:left;
}
    .p1{
        font-family: "Roboto", sans-serif;
        font-weight:900;
        font-size: 40px;
        color: var(--txtColor);
        line-height: 1.4;
    }
    .p2{
        font-family: "Roboto", sans-serif;
        font-weight:400;
        font-size: 20px;
        color: var(--grayWhite);
        line-height: 1.4;
    }

    .button1Sec1{
        padding: 10px 50px;
        border-radius: 20px;
        font-size: 18px;
        border: none;
        margin-right: 10px;
        background-color: var(--greencolor);
        color: var(--txtColor);
        cursor: pointer;
        box-shadow:  4px 0 8px 0 rgba(0, 0, 0, 0.2),  6px 0 20px 0 rgba(0, 0, 0, 0.19);
        

    }
    .button1Sec1:hover{
        color: var(--txtColorHover);
    }

    .button2Sec1{
        padding: 10px 70px;
        border-radius: 20px;
        font-size: 18px;
        border: none;
        background-color: transparent;
        border: 2px solid var(--greencolor);
        color: var(--txtColor);
        cursor: pointer;
        transition: background-color 0.3s;
        box-shadow:  4px 0 8px 0 rgba(0, 0, 0, 0.2),  6px 0 20px 0 rgba(0, 0, 0, 0.19);

    }
    .button2Sec1:hover{
        background-color: var(--greencolor);
        color: var(--txtColorHover);
    }

    .buttonsspace{
/*         background-color: rgb(255, 0, 0); */
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      
      width: 600px;
      height: 560px;
    }


    .slide{
        width: 100%;
        height: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        gap: 20px;
/*         background-color: blue; */
    }


/*CARD 1*/
    .card{
        background-color: black;
        height: 500px;
        width: 380px;
        transition: left 1s;
        border-radius: 25px;
        overflow: hidden;

        flex-shrink: 0;

        position: relative;
        left: 0px;
        
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    }
    .imgcontainer{

        width: 100%;
        height: 400px;
        overflow: hidden;
    }

        .imgS1{
            width: auto;
            height: 100%;
            box-shadow: inset white 10px 10px 10px;
            transition: height 1s;  
        }
        


    .imgdesc{
        background-color: rgb(40,48,57);
        height: 160px;
        width: 100%;
        margin-top: 0px;
        padding: 0%;
        overflow: hidden;


    }
        .descH1{
            margin-left: 25px;
            margin-right: 25px;
            margin-bottom: 0;
            color: var(--txtColor);
        }
        .descH2{
            margin-left: 25px;
            margin-right: 25px;
            color: var(--grayWhite);
            margin-top: 0;
        }


    /*CARD 2*/
    .card2{
        height: 500px;
        width: 380px;
        transition: left 1s;
        border-radius: 25px;
        overflow: hidden;

        flex-shrink: 0;

        position: relative;
        left: 0px;

        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .imgcontainer2{
        width: 380px;
        height: 400px;
        overflow: hidden;
    }

        .imgS12{
            width: 380px;
            height: 400px;
            box-shadow: inset white 10px 10px 10px;
            transition: height 1s;  
        }
        


    .imgdesc2{
        background-color: rgb(40,48,57);
        height: 160px;
        width: 100%;
        margin-top: 0px;
        overflow: hidden;

    }
    /*CARD3*/

    .card3{
        height: 500px;
        width: 380px;
        transition: left 1s;
        border-radius: 25px;
        overflow: hidden;

        flex-shrink: 0;

        position: relative;
        left: 0px;

        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .imgcontainer3{
        width: 380px;
        height: 400px;
        overflow: hidden;
    }

        .imgS13{
            width: auto;
            height: 100%;
            box-shadow: inset white 10px 10px 10px;
            transition: height 1s;  
        }
        


    .imgdesc3{
        background-color: rgb(40,48,57);
        height: 160px;
        width: 100%;
        margin-top: 0px;
        border: 1px solid transparent;
        overflow: hidden;

    }
   
    
    .slideButtons{
        display: flex;
      margin-top: 1rem;
    }
        .B1{
            cursor: pointer;
            flex-shrink: 0;
            width: 25px;
            height: 25px;
            background-color: var(--greencolor);
            border: 1px solid var(--greencolor);
            border-radius: 50%;
            margin-right: 15px;
            transition: background-color 1s;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
        .B2{
            cursor: pointer;
            flex-shrink: 0;
            width: 25px;
            height: 25px;
            border: 1px solid var(--greencolor);
            border-radius: 50%;
            margin-right: 15px;
            transition: background-color 1s;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
        .B3{
            cursor: pointer;
            flex-shrink: 0;
            width: 25px;
            height: 25px;
            border: 1px solid var(--greencolor);
            border-radius: 50%;
            margin-right: 15px;
            transition: background-color 1s;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

    
/*Section Page 2 */

.sec2{
    width: 100%;
    height: 600px;
    background-color: var(--greencolor);
    box-shadow:  4px 0 8px 0 rgba(0, 0, 0, 0.2),  6px 0 20px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden;


}

    .aboutusH1{
        color: var(--txtColor);
        font-size: calc( 0.5em + 2.2vw) ;
        text-align: center;
        margin-top: 40px;
    }
    .aboutusH2{
        color: var(--txtColor);
        font-size: calc( 0.5em + 2.2vw) ;
        text-align: center;
        margin-top: 40px;
    }

    .AboutusBox{
        display: flex;
    /*  background-color: brown;  */
        height: 400px;
        justify-content: center;
        align-items: center;
        gap: 1% ;

        
    }

    .AbCard{
        width: 300px;
        height: 340px;
        background-color: rgb(40,48,57);
        box-shadow:  4px 0 8px 0 rgba(0, 0, 0, 0.2),  6px 0 20px 0 rgba(0, 0, 0, 0.19);
        flex-shrink: 0;
        border-radius: 10px;
    }

    .AbImg{
        width: 100px;
        height: auto;
        margin-left: calc(50% - 50px);
        margin-top: 30px;
        margin-bottom: 10px;
        
    }
    .AbH2{
        color: var(--txtColor);
        text-align: center;
        margin-top: 0px;
    }
    .AbP{
        margin-left: 10px;
        margin-right: 10px;
        color: var(--txtColor);
        text-align: center;
        font-size: 1.1em;
    }


    /* SECTION 3 */

    .Sec3He{
        display: flex;
        justify-content: center; 
        align-items: center;
        margin-top: 60px;
        background-image: url(Photos/linesGraphic.png);
    }

    .JoH2{
        color: var(--txtColor);
        text-transform: uppercase;
        font-weight: 7000;
        font-size: 2.8em;
    }

    .Sec3HB{
       height: 50px;
       width: 140px;
       cursor: pointer;
       margin-left: 20px;
       font-size: 1.2em;
       background-color: var(--greencolor);
       text-transform: uppercase;
       border: none;
       border-radius: 20px;
       color: var(--txtColor);
       box-shadow:  4px 0 8px 0 rgba(0, 0, 0, 0.2),  6px 0 20px 0 rgba(0, 0, 0, 0.19);
    }

    .Sec3Body{
        height: 400px;
    }
        .Sec3Body1{
            /* background-color: brown; */
            margin-top: 100px;
            height: auto; 
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 200px;
        }

            .Sec3BodyImg1{
                width: 400px;
                height: auto;
                
            }
            .Sec3BodyCard1{
                margin-top: 15px;
                background-color: rgb(40,48,57);
                border: 1px solid var(--grayWhite);
                width: 600px;
                height: 180px;
                border-radius: 20px;
                
            }
            .Sec3BodyCard1H{
                color: var(--txtColor);
                font-weight: 7000;
                font-size: 2em;
                margin-left: 20px; 
                margin-right: 20px;
                font-weight: 900;
            }
            .Sec3SuggestP{
                color: var(--grayWhite);
                font-size: 1.2em;
                margin-right: 20px;
                font-weight: 600;
                margin-left: 20px; 
                margin-right: 20px;
            }
        
            .OrSeperater{
                position: relative;
                top: 100px;
                text-align: center;
                color: var(--txtColor);
                font-size:8em;

            }

    .footer{
        background-color:  rgb(40,48,57);
        width: 100%;
        height: 240px;
        box-shadow:  4px 0 8px 0 rgba(0, 0, 0, 0.2),  6px 0 20px 0 rgba(0, 0, 0, 0.19); 
    }
        .fCredits{
            /* background-color: brown; */
            width: 60%;
            height: 160px;
            margin-left: calc(50% - 30%);
            border: 1px solid transparent;
            border-bottom: 1px solid var(--grayWhite);
        }
            .fTextCred{
                color: var(--grayWhite);
                font-size: 1.1em;
                margin-top: 100px;
            }
            .CopyR{
                color: var(--grayWhite);
                font-size: 1.1em;
                margin-top: 10px;
                text-align: center;
            }